@model List<MovieShop.Entity.Movie>
@{
    ViewBag.Title = "Index";
}

<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Revenue</td>
            <td>Budget</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
        <tr>
            <td>@movie.Id</td>
            <td>@movie.Title</td>
            <td>@movie.Revenue</td>
            <td>@movie.Budget</td>
        </tr>
        }
    </tbody>


</table>
